body {
    background-color: rgb(31, 31, 31);
    margin: 0;
    padding: 0;
    overflow: hidden;

}
#canv {
    background-color: rgb(42, 42, 42);
    cursor: crosshair;
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }